[submodule ".registry"]
	path = .registry
	url = https://github.com/abiomix/abiomix.r-universe.dev
	branch = HEAD
[submodule "httpuv"]
	path = httpuv
	url = https://github.com/abiomix/abiomix-r-open
	subdir = packages/httpuv
